* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  display: grid;
  place-items: center;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

/* .testing {
    height: 20vh;
    background-color: #393939;
    font-family: sans-serif;

    color:aquamarine;
    font-size: 2rem;
    display: grid;
    place-items: center;
} */
.main-stopwatches-container {
  margin-top: 5vh;
  width: 92%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  row-gap: 20px;
}

.stopwatch {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: sans-serif;
  height: 146px;
  width: 280px;
  box-shadow: 2px 2px 5px 0px #000;
  border-radius: 15px;
  border: 3px solid rgba(0, 0, 0, 0);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  align-items: center;
  justify-items: center;
}
.stopwatch.active {
  border-color: aquamarine;
  animation: change-colorx 1s linear alternate infinite;
}
@keyframes change-colorx {
  from {
    border-color: rgb(127, 255, 212);
  }
  to {
    border-color: rgb(71, 219, 111);
  }
}
.stopwatch.active .circle {
  opacity: 1;
}
.stopwatch.virgin img {
  filter: grayscale(1) brightness(50%);
}
.stopwatch.virgin .no-img {
  color: #686868;
}
.stopwatch.non-odyssey {
  background-color: rgb(24, 24, 24);
}
.stopwatch.general .no-img h2 {
  font-style: italic;
}
.stopwatch.general .no-img h2 span {
  font-weight: bold;
  font-size: 1.5rem;
  padding-right: 6px;
  color: rgb(253, 87, 50);
}
.stopwatch img {
  width: 65px;
  pointer-events: none;
}
.stopwatch .no-img {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: white;
}
.stopwatch .no-img h2 {
  font-size: 1.3rem;
  width: 130px;
  grid-row: 1/2;
  align-self: center;
}
.stopwatch .no-img .time {
  display: flex;
  align-items: baseline;
  font-size: 2.2rem;
  font-variant-numeric: tabular-nums;
  grid-row: 2/3;
}
.stopwatch .circle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: aquamarine;
  opacity: 0;
  border-radius: 20px;
  top: 15px;
  right: 15px;
  animation: change-color 1s linear alternate infinite;
}
@keyframes change-color {
  from {
    background-color: rgb(127, 255, 212);
  }
  to {
    background-color: rgb(71, 219, 111);
  }
}