* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242424;
    display: grid;
    place-items: center;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

/* .testing {
    height: 20vh;
    background-color: #393939;
    font-family: sans-serif;

    color:aquamarine;
    font-size: 2rem;
    display: grid;
    place-items: center;
} */

.main-stopwatches-container {
    height: 100vh;
    width: 92%;

    // display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    // flex-direction: column;
    // background-color: red;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    align-content: center;
    row-gap: 50px;
    // justify-content: center;
}

.stopwatch {
    user-select: none;
    font-family: sans-serif;

    height: 176px;
    width: 360px;
    box-shadow: 2px 2px 5px 0px #000;
    border-radius: 15px;
    border: 3px solid #00000000;

    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 20px;    
    align-items: center;
    justify-items: center;

    &.active {
        border-color: aquamarine;
        animation: change-colorx 1s linear alternate infinite;        

        @keyframes change-colorx {
            from {border-color: rgb(127, 255, 212);}
            to {border-color: rgb(71, 219, 111);}
        }

        .circle {
            opacity: 1;
        }
    }

    &.virgin {
        img {
            filter: grayscale(1) brightness(50%);
        }
        .no-img {
            color: #686868;
        }
    }

    img {
        width: 100px;
        pointer-events: none;
    }

    .no-img {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        color: white;

        h2 {
            font-size: 1.5rem;
            width: 130px;
            grid-row: 1 / 2;
            align-self: center;
        }

        .time {
            display: flex;
            align-items: baseline;
            font-size: 2.4rem;
            font-variant-numeric: tabular-nums;
            grid-row: 2 / 3;
        }
    }

    .circle {
        position: absolute;
        width: 20px; height: 20px;
        background-color: aquamarine;
        opacity: 0;
        border-radius: 20px;
        bottom: 20px; right: 20px;
        animation: change-color 1s linear alternate infinite;

        @keyframes change-color {
            from {background-color: rgb(127, 255, 212);}
            to {background-color: rgb(71, 219, 111);}
        }
    }
}