@font-face {
    font-family: manrope;
    src: url(./assets/manrope.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: manrope;
}

body {
    background-color: #242424;
    color: black;
    display: grid;
    place-items: center;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

/* .testing {
    height: 20vh;
    background-color: #393939;
    font-family: sans-serif;

    color:aquamarine;
    font-size: 2rem;
    display: grid;
    place-items: center;
} */

.main-stopwatches-container {
    margin-top: 5vh;
    // height: 100vh;
    width: 92%;

    // display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    // flex-direction: column;
    // background-color: red;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    align-content: center;
    row-gap: 20px;
    // justify-content: center;
}

.stopwatch {
    user-select: none;
    font-family: sans-serif;

    // 

    height: 146px;
    width: 280px;
    box-shadow: 2px 2px 5px 0px #000;
    border-radius: 15px;
    border: 3px solid #00000000;

    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;    
    align-items: center;
    justify-items: center;

    &.active {
        border-color: aquamarine;
        animation: change-colorx 1s linear alternate infinite;        

        @keyframes change-colorx {
            from {border-color: rgb(127, 255, 212);}
            to {border-color: rgb(71, 219, 111);}
        }

        .circle {
            opacity: 1;
        }
    }

    &.virgin {
        img {
            filter: grayscale(1) brightness(50%);
        }
        .no-img {
            color: #686868;
        }
    }

    &.non-odyssey {
        background-color: rgb(24, 24, 24);
    }

    &.general {
        .no-img {
            h2 {
                // font-weight: bold;
                span {
                    font-weight: bold;
                    font-size: 1.5rem;
                    padding-right: 6px;
                    color: rgb(253, 87, 50);
                }
                font-style: italic;
            }
        }
    }

    img {
        width: 65px;
        pointer-events: none;
    }

    .no-img {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        color: white;

        h2 {
            font-size: 1.3rem;
            width: 130px;
            grid-row: 1 / 2;
            align-self: center;
        }

        .time {
            display: flex;
            align-items: baseline;
            font-size: 2.2rem;
            font-variant-numeric: tabular-nums;
            grid-row: 2 / 3;
        }
    }

    .circle {
        position: absolute;
        width: 15px; height: 15px;
        background-color: aquamarine;
        opacity: 0;
        border-radius: 20px;
        top: 15px; right: 15px;
        animation: change-color 1s linear alternate infinite;

        @keyframes change-color {
            from {background-color: rgb(127, 255, 212);}
            to {background-color: rgb(71, 219, 111);}
        }
    }
}

.button-container {
    height: 30vh;
    display: grid;
    place-items: center;
    
    button {
        padding: 15px 50px;
        font-size: 1rem;
        cursor: pointer;
        background-color: #242424;
        color: rgb(255, 81, 81);
        border: 0;
        box-shadow: 2px 2px 5px 0px #000;
        border-radius: 15px;
    }
}

.modal {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(3px);
    display: grid;
    place-items: center;
    display: none;
    
    .window {
        height: 300px;
        width: 500px;
        box-shadow: 2px 2px 5px 0px #000;
        border-radius: 15px;
        background-color: rgba(16, 16, 16, 0.872);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 60px;
        flex-direction: column;

        p {
            span {
                color: rgb(255, 81, 81);
                font-weight: bold;
            }
        }

        .buttons {
            display: flex;
            column-gap: 25px;

            button {
                // width: 120px;
                // height: 50px;
                padding: 12px 50px;
                border-radius: 100px;
                background-color: #000000a5;
                border: 0;
                font-size: 1.2rem;
                color: white;
                cursor: pointer;

                &.yes {
                    background-color: rgb(11, 169, 11);
                }
                &.no {
                    background-color: rgb(255, 81, 81);
                }
            }
        }
    }
}